{{include ('head.twig')}}
{{include ('navigatie.twig')}}


<section id="bestel" class="container">
{% if login %} 
 
       <table id="bestellingen" class="display dataTable">
           <thead>
		<tr>
			<th>BestelNr</th>
                        {% if login.rang == '1'%} 
			<th>KlantId</th>
			<th>Voornaam</th>
                        <th>Familienaam</th>
                         {%endif%}
			<th>Datum</th>
			<th>Product</th>
                        <th>AantalBesteld</th>
                        <th>Prijs</th>
			
		</tr>
	</thead>
           <tbody>
        {% for bestelling in bestellingen%}  
            <tr>
               <td>{{bestelling.BestelNr}}</td>
                {% if login.rang == '1'%} 
               <td>{{bestelling.KlantId}}</td>
               <td>{{bestelling.voornaam}}</td>
               <td>{{bestelling.familienaam}}</td>
               {%endif%}
               <td>{{bestelling.Datum}}</td>
               <td>{{bestelling.Product}}</td>
               <td>{{bestelling.AantalBesteld}}</td>
               <td>{{bestelling.Prijs * bestelling.AantalBesteld}}</td>
            </tr>
                    
        {%endfor%}
           </tbody>
        </table>
        
{%endif%}
</section>

<script>   
    
  $("#bestellingen").dataTable()
  </script>