{{include ('head.twig')}}


     

       
    
 <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Bakkerij Frederik</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                  
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    {% if login %}
                    <li>
                        <a>{{login.voornaam}} {{login.familienaam}}</a>         
                    </li>
                    {%endif%}
                    
                    <li class="page-scroll">
                        <a href="index.php">Home</a>
                    </li>
                   
                    {% if login %}
                  <li class="page-scroll">
                        <a href="index.php#bestel">Bestel</a>
                    </li>
                    
                      <li class="page-scroll active">
                        <a href="#page-top">Winkelmandje</a>
                    </li>
                    <li><a href="controlLogin.php?logout=1" class="btn btn-sm">Uitloggen</a></li>
                  {%endif%}
                    
                  
                {% if not login %}
                <form action="controlLogin.php" method="post" class="login" id="login" name="login">
                <label for="username">email :
                <input type="text" id="email" name="email" value="{{cookie}}"></label>
                
                <label for="password">wachtwoord :<input type="password" id="password" name="password" value=''></label>                               
                <input type="submit" value="login" name="login" />
            </form>  
                {%endif%}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->        
          
    </nav>
<section class="container">
<h1>Winkelmandje</h1>


{%set totaal = 0 %}
<div class="hero-unit">
    <ul class="list-group">
        {% for product in winkelmandje %}
            <li class="list-group-item">
                <span class="badge">{% set subtotaal= aantal[loop.index0] * product.Prijs%}{{subtotaal}}</span>
                {{aantal[loop.index0]}}   x   {{product.Product}} 
            </li>
            {% set totaal = totaal + subtotaal %}
        {% endfor %}
        <li class="list-group-item">
            <span class="badge">{{ totaal }} EURO</span>
            Totaal te betalen
        </li>        
    </ul>  

    <a href="controlAfrekening.php?betaal=1" class="btn btn-large btn-success">Betalen</a>

</div>     


</section>