{{include ('head.twig')}}
{{include ('header.twig')}}

    <body id="page-top" class="index">
      

       
    
 <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Bakkerij Frederik</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                  
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    {% if login %}
                    <li>
                        <a href="profielpagina.php">{{login.voornaam}} {{login.familienaam}}</a>         
                    </li>
                    {%endif%}
                    
                    <li class="page-scroll">
                        <a href="index.php">Home</a>
                    </li>                   
                    {% if login %}
                    <li class="page-scroll">
                       <a href="index.php#bestel">Bestel</a>
                    </li>
                    
                    <li><a href="bestellingen.php">Bestellingen</a></li>              
                  
                    
                    <li class="page-scroll active">
                        <a href="winkelmandje.php">Winkelmandje</a>
                    </li>                    
                    
                    <li><a href="controlLogin.php?logout=1" class="btn btn-sm">Uitloggen</a></li>
                  {%endif%}
                    
                  
                {% if not login %}
                <form action="controlLogin.php" method="post" class="login" id="login" name="login">
                <label for="username">email :</label>
                <input type="text" id="email" name="email" value="{{cookie}}">
                
                <label for="password">wachtwoord :<input type="password" id="password" name="password" value=''></label>                               
                <input type="submit" value="login" name="login" />
            </form>  
                {%endif%}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->        
          
    </nav>
 
<section class="container">
<h1>Winkelmandje</h1>


{%set totaal = 0 %}
<div class="hero-unit">
    <ul class="list-group">
        {% for product in winkelmandje %}
            {% if aantal[loop.index0] %}
            <li class="list-group-item">                
                {{aantal[loop.index0]}}   x   {{product.Product}} 
                <span class="badge">{% set subtotaal= aantal[loop.index0] * product.Prijs%}{{subtotaal}}</span>
            </li>
            {%endif%}
            
            {% set totaal = totaal + subtotaal %}
            
        {% endfor %}
        <li class="list-group-item">
            <span class="badge">{{ totaal }} EURO</span>
            Totaal te betalen
        </li>        
    </ul>  
            
   
    <form action="controlBetalen.php" method="GET" class="left">       
    <label class="col-sm-3 control-label">Dag van afhaling:</label>          
    <div class="col-sm-2">
    <input type="text" name="afhaaldatum" id="datepicker" class="form-control">
    </div>
    <input type="submit" class="btn btn-large btn-success" value="Betalen" name="Betalen">
    
       <a href="index.php#bestel" class="btn btn-large btn-success">Bestelling aanpassen</a>
    
</form>
</div>     


</section>